<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.rs4u.grave_admin">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="Grave Admin" android:theme="@android:style/Theme.Holo.Light.DarkActionBar"></application>
</manifest>